<div class="page-header">
  <h3>
  	<span ng-show="post.link">{{post.title}}</span>
    <a ng-show="post.link" href="{{post.link}}">
      - {{post.link}}
    </a>
    <span ng-hide="post.link">
      {{post.title}}
    </span>
  </h3>
</div>

<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
  <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
  {{comment.upvotes}} - by {{comment.author}}
  <span style="font-size:20px; margin-left:10px;">
    {{comment.body}}
  </span>
</div>


<form ng-submit="addComment()">
  <h3>Add a comment</h3>

  <div class="form-group">
    <textarea class="form-control" placeholder="Message" ng-model="body"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Add Comment</button>
</form>