<section ng-show="signedIn()">

  <form class="form-inline" ng-submit="addPost()">
    <input type="text" class="" placeholder="Type your url here" ng-model="link"></input>
    <button type="submit" class="btn">save +</button>
  </form>

</section>

<section>

  <article class="" ng-repeat="post in posts | orderBy: '-upvotes'">
    <div class="col-2 hide-sm">
      <div class="centering">
        <i class="fa fa-thumbs-up" ng-click="incrementUpvote(post)"></i>
        <small class="text-muted">upvotes: {{post.upvotes}}</small>
      </div>
    </div>
    <div class="col-10">
      <div class="row">
        <small class="text-muted">posted by <a ng-href="#/users/{{post.user.username}}">{{post.user.username}}</a></small>
      </div>
      <div class="row">
        <a ng-show="post.link" href="{{post.link}}">
          <h2>{{post.title}}</h2>
        </a>
        <span ng-hide="post.link">
          <h2>{{post.title}}</h2>
        </span>
      </div>
      <div class="row">
        <small class="text-muted">
          <a href="#/posts/{{post.id}}">Comments</a>
        </small>
      </div>
    </div>
  </article>

</section>
