/*
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 */

.navbar { border-radius: 0; }

hr { border-top: 1px solid #979797; }

.glyphicon-thumbs-up {
	cursor: pointer;
	font-size: 20px;
	margin-top: 39%;
}
section {
	margin-top: 10px;
}
article {
	padding: 20px 0;
	border-top: 1px solid #979797;
}
article:last-child {
	border-bottom: 1px solid #979797;
}