<!DOCTYPE html>
<html>
<head>
  <title>FlapperNews</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style>.glyphicon-thumbs-up{cursor: pointer;}article{margin-bottom: 10px;}</style>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">
		
		<div class="container-fluid">
			<div class="row">
				<div class="container">
		      
		      <div class="page-header">
		        <a href='#/'><h1>Marked</h1></a>
		      </div>

	    	</div>
	    </div>

			<div class="row">
				<div class="container">

					<ui-view></ui-view>

				</div>
			</div>

			<footer>
				<p>
					<small>created from the tutorial: <a href="https://thinkster.io/angular-rails/">https://thinkster.io/angular-rails/</a></small>
				</p>
			</footer>

		</div>

</body>
</html>
