<!DOCTYPE html>
<html>
<head>
  <title>Marked</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">

		<div class="container-fluid">
		
			<div ng-include="'layout/_nav.html'"></div>

			<div class="row">
				<div class="container">

					<ui-view></ui-view>

				</div>
			</div>

			<footer>
				<p>
					<small>created from the tutorial: <a href="https://thinkster.io/angular-rails/">https://thinkster.io/angular-rails/</a></small>
				</p>
			</footer>

		</div>

</body>
</html>
