<!DOCTYPE html>
<html>
<head>
  <title>Marked</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">

		
		<header ng-include="'layout/_nav.html'"></header>

		<div class="container">

			<ui-view></ui-view>

		</div>

		<div class="container">

			<footer>
				<small class="text-muted">created by <a href="http://dev.almeidavictor.com.br/">victor almeida</a></small>
				<small class="text-muted pull-right"><a href="https://thinkster.io/angular-rails/">https://thinkster.io/angular-rails/</a></small>
			</footer>

		</div>

</body>
</html>
