<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="marked">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Marked</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">

		
		<header class="cf" ng-include="'layout/_nav.html'"></header>

		<div class="container">

			<ui-view></ui-view>

		</div>

		<div class="container">

			<footer>
				<small class="text-muted">created by <a href="http://dev.almeidavictor.com.br/">victor almeida</a></small>
				<small class="text-muted pull-right"><a href="https://thinkster.io/angular-rails/">https://thinkster.io/angular-rails/</a></small>
			</footer>

		</div>

</body>
</html>
